<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign Up Application</h1>
    {{msg}}
    <form action="/signup" method="post">
         <input type="text" name="username" placeholder="Enter Your Username"> <br><br>
         <input type="email" name="email" placeholder="Enter Your Email"> <br><br>
         <input type="password" name="password" placeholder="Enter Your Password"> <br><br>
         <input type="text" name="title" placeholder="Enter Job Title"> <br><br>
         <input type="submit" value="Make Application">
    </form>
</body>
</html>